html{
    min-height: 100%;
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
  }
  
  :root{
      
      --bg1: black;
      --text-color: #ffffff;
  
        --primary-color-pink: #9b3244;

        --glass-background:rgba(255, 255, 255, 0.04);
        --glass-border:1px solid rgba(255, 255, 255, 0.3);
        --glass-bg-dark:rgba(0, 0, 0, 0.658);
        --bg-blur:blur(10px);
  
        --font-size-xtra-big: 3.5rem;
        --font-size-big: 2rem;
        --font-size-medium: 1rem;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
  }
  
  body{
    background: var(--bg1);
  }
  
  ul,ol {
      list-style: none;
      margin: 0;
      padding: 0;
  }

  a{
      text-decoration: none;
  }
  
  .btn{
      border: none;
      border-radius: 16px;
      background-color: var(--primary-color-pink);
      font-size: var(--font-size-medium);
      cursor: pointer;
      padding: 0.5rem 1rem;
      transition: 0.5s;
    }
    
   .btn:hover{
      letter-spacing: 0.1rem;
    }  
  
    #footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 3rem;
      margin: 1rem auto;
      width: 70%;
    }
    
    #footer h1, #footer i{
      font-size: var(--font-size-big);
      opacity: 0.5;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }

    #footer p{
      font-size: var(--font-size-medium);
      text-transform: uppercase;
    }

    #footer p:nth-of-type(3),#footer p:nth-of-type(4){
      color: var(--primary-color-pink);
      margin-top: 1rem;
    }

    #footer p a{
      color: var(--primary-color-pink);
    }

    #footer p:nth-of-type(4){
      margin-bottom: 2rem;
      margin-top: 0;
    }

    @media(max-width:48rem){
      #footer{
      text-align: left;
      padding: 1rem 0;      
    }}
  