  #main-header{
    border: none;
    background: transparent;
  }

  #landing-page{
    background: url("https://res.cloudinary.com/duqweg9fr/image/upload/v1704306201/Portfolio/bg12_oyjunh.jpg") no-repeat;
    background-size: cover;
    background-position: center; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    min-height: 100vh;
  }

  @keyframes float{
    0%,100%{
        transform:translateY(0);
    }

    50%{
        transform:  translateY(15px);
    }
}
#landing-page .container{
  gap: 1rem;
  text-align: center;
  padding: 0 4rem;
}

#landing-page .main-content{
  z-index: 3;
  position: relative;
}

  #landing-page .profile{ 
    position: relative;
    display: flex;
    justify-content: center;
  }

  .profile .bubble{
    position: relative;
    width: 200px;
    height: 200px;
    box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.356);
    
  }
  .profile .bubble span{
    backdrop-filter: blur(10px);
    inset: 0;
}

  #landing-page .content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .social-icons, #landing-page a:not(.social-icons a){
    align-self: flex-start;
    margin-bottom: 1rem;
  }

  .social-icons i{
    font-size: 1.7rem;
  }

  #landing-page .title{
    text-transform: uppercase;
  }

  #landing-page .content p{
    margin-bottom: 1rem;
  }

  #landing-page h1 span{
    font-weight: inherit;
    width: 24ch;
    text-shadow:0 0 30px var(--primary-color-pink), 0 0 10px var(--primary-color-pink)
  }

  span{
    color: var(--primary-color-pink);
    font-weight: 900;
  }


  @media(min-width:48rem){
    #landing-page .container{
      margin-left: 8rem;
      text-align: left;
      padding: 0;
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
    }

    #landing-page .main-content, .profile{
      width: 50%;
    }

    #landing-page .title{
      font-size: var(--font-size-big);
    }
  
    #landing-page .content p{
      font-size: 1.3rem;
    }

    .social-icons i{
      font-size: 1.5rem;
    }

  }