#services{
    margin: 0 auto;
    text-align: center;
    position: relative;

}

.bubble{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.25);
    animation: animate 8s ease-in-out infinite;
    top: 50%;
}


.bubble:nth-child(2){
    left: 0;
    top: 0;
    animation-delay: 2s;
}

.bubble:nth-child(3){
    right:15%;
    top: 85%;
    animation-delay: 3s;
}

@keyframes animate{
    0%,100%{
        transform:translateY(-40px) rotate(-45deg);
    }

    50%{
        transform:  translateY(40px) rotate(45deg);
    }
}

.bubble span{
    position: absolute;
    border-radius: 50%; 
    
}

.bubble span:nth-child(1){
    border-left: 15px solid #0fb4ff;
    inset: 10px;
}

.bubble span:nth-child(2){
    border-right: 15px solid var(--primary-color-pink);
    inset: 10px;
}

#services .title{
    margin: 4rem 0;
    font-size: var(--font-size-big);
    text-transform: capitalize;
    color: var(--primary-color-pink);
}

#services .container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    gap: 1rem;
    flex-wrap: wrap;
}

#services .container .card{
    background-color: var(--glass-background);
    border: var(--glass-border);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 3rem;
    
}

#services .container .card>*, .card a{
    text-align: left;
}

#services .container .card ul{
    list-style: square outside none;
}

#services .container .card ul li{
    margin-bottom: 1rem;
}

#services .container .card .content h1{
    font-size: var(--font-size-big);
}
.price{
    margin-bottom: 2rem;
    margin-top: -1rem;
}

@media(min-width:48rem){

    .bubble:nth-child(2){
        left: 40%;
        top: 10%;
        animation-delay: 2s;
    }
    
    .bubble:nth-child(3){
        right:10%;
        top: 85%;
        animation-delay: 3s;
    }
}